.button1 {
    color: teal;
    border-radius: 12px;
    width: 10%;
    height: 25px;
    border: 1px solid teal;
}

.button2 {
    border-radius: 50%;
    background-color: darkcyan;
    border: 1px solid darkcyan;
    color: white;
    height: 30px;
    width: 3%;
    font-size: large;
}

.button3 {
    border-radius: 1px;
    width: 12%;
    height: 30px;
    color: white;
    background-color: blue;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}

div {
    margin-right: 5%;
    padding-left: 5%;
    padding-top: 40px;
    height: 1px;
}
